:root {
  --primary-color: #1b244a;
  --Text-color: #eeeeee;
  --box-color: #080001;
  --counter-color: #f94f6d;
  --smaller-color: #9aabd8;
}

body {
  background-color: var(--primary-color);
  width: 100%;
  height: 100vh;
  /* align-content: center;
  margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_container {
  width: 35.9375rem;
  height: 24.0625rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-around;
  box-sizing: border-box;
}

h1 {
  color: var(--Text-color);
  font-family: Verdana;
  font-size: 40px;
  font-weight: 700;
  font-style: Bold;
  line-height: 2.2431rem;
  letter-spacing: 0;
  text-align: center;
}

.innerdiv {
  width: 155px;
  height: 120px;
  background-color: var(--box-color);
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.Readings {
  color: var(--counter-color);
  font-family: "Cursed Timer ULiL", cursive;
  font-size: 90px;
  font-weight: 400;
  font-style: normal;
  line-height: 126.67px;
  letter-spacing: 0;
  text-align: center;
  padding: 45px;
}

.incrementvalues {
  width: 155px;
  height: 45px;
  display: flex;
  /* background-color: red; */
  justify-content: space-evenly;
}

.units {
  height: 45px;
  width: 45px;
  border: 2px solid var(--smaller-color);
  border-radius: 5px;
  padding: 10px;
  color: var(--smaller-color);
}

.units,
span {
  font-family: "Cursed Timer ULiL";
  font-size: 18px;
  font-weight: 400;
  line-height: 27.81px;
  letter-spacing: 0;
  text-align: center;
  font-style: normal;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #075985;
  padding-left: 40px;
}

.extra {
  /* width: 100%;
  height: 150px; */
  /* background-color: red; */
  margin-right: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 30px;
}

#extraButton1 {
  height: 40px;
  width: 100px;
  border-radius: 15px;
  font-family: Verdana;
  font-size: 15px;
  font-weight: 500;
  font-style: Bold;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 15px;
  background-color: #1f2937;
  color: var(--Text-color);
}
